
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Account activation</h2>
        <h3 class="section-subheading text-muted">This page allows you to activate your account.</h3>
    </div>
</div>

<br>

<div class="row show-hide-message" ng-show="activate.successMsg">
    <div class="alert alert-success">{{ activate.successMsg }}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="activate.errorMsg">
    <div class="alert alert-danger">{{ activate.errorMsg }}</div>
</div>